<h1>Contact Details</h1>
<p><%= flash[:success] %>
<ul>
  <li>First Name: <%= @contact.first_name %></li>
  <li>Last Name: <%= @contact.last_name %></li>
  <li>Phone Number: <%= @contact.phone_number %></li>
</ul>

<a href='/'>Back to List</a>
